/venv/
.idea/
/myvenv/
accessibility_hub/*/__pycache__
*.pyc
*/__pycache__/
accessibility_hub/accessibility_hub/__pycache__/__init__.cpython-311.pyc
accessibility_hub/accessibility_hub/__pycache__/__init__.cpython-311.pyc
accessibility_hub/accessibility_hub/__pycache__/settings.cpython-311.pyc
*.DS_Store

# {% for onderzoek in onderzoeken %}
#                                     <tr class='clickable-row'
#                                         data-href="/medewerkers/onderzoek/{{ onderzoek.onderzoek_id }}">
#                                         <td>{{ onderzoek.titel }}</td>
#                                         <td>{{ onderzoek.organisatie.bedrijfsnaam }}</td>
#                                         <td>{{ onderzoek.startdatum|date:"d-m-Y" }}</td>
#                                         <td>{{ onderzoek.einddatum|date:"d-m-Y" }}</td>
#                                         <td>{{ onderzoek.status }}</td>
#                                     </tr>
#                                     {% endfor %}

# {% for organisatie in organisaties %}
#                                     <tr class='clickable-row' data-href="/medewerkers/organisatie/{{ organisatie.id }}">
#                                         <td>{{ organisatie.bedrijfsnaam }}</td>
#                                         <td>{{ organisatie.email }}</td>
#                                         <td>{{ organisatie.first_name }}</td>
#                                         <td>{{ organisatie.last_name }}</td>
#                                         <td>{{ organisatie.status }}</td>
#                                         <td>{{ organisatie.date_joined }}</td>
#                                     </tr>
#                                     {% endfor %}
.DS_Store
.DS_Store
accessibility_hub/.DS_Store
