{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action">Gebruikers</a>
                <a href="#" class="list-group-item list-group-item-action">Onderzoeken</a>
            </div>
        </div>
        <div class="col-md-9">
            <h2>Welkom {Naam}</h2>

            <div class="row">
                <div class="col-6"><canvas id="myChart" width="400" height="200"></canvas></div>
                <div class="col-6">test</div>
            </div>
        </div>
    </div>
</div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');

    var data = {
        labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
        datasets: [{
            label: 'Aantal onderzoeken',
            data: [10, 25, 18, 32, 20],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
        }]
    };

    var options = {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    };

    var myChart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: options
    });
</script>


{% endblock content %}
