{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">


    <div class="row">
        <div class="col-12">
            <h1>Voeg een nieuwe gebruiker toe</h1>
        </div>
        <div>
            <form action="registratie_verwerk" method="post">
                
                <label for="voornaam">Voornaam</label>
                <input type="text" name="voornaam">

                <label for="achternaam">Achternaam</label>
                <input type="text" name="achternaam" required>

                <label for="wachtwoord">wachtwoord</label>
                <input type="password" name="wachtwoord">

                <button type="submit">Inloggen</button>
            </form>
        </div>
        <div>
            <h2>Al een account?</h2>
            <a href="inloggen">Inloggen</a>
        </div>
    </div>
</div>

{% endblock content %}