<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inschrijven voor onderzoek</title>
</head>
<body>
    <h1>Inschrijven voor onderzoek "{{ onderzoek_naam }}"</h1>

    <form method="post">
        <!-- Formulierelementen voor het invoeren van deskundige gegevens -->
        <!-- Bijvoorbeeld: naam, e-mail, specialisatie, enz. -->
        <input type="submit" value="Inschrijven">
    </form>
</body>
</html>
{% extends "base.html" %}

{% block title %}Inschrijvingen{% endblock title %}



{% block content %}

{% endblock content %}
