{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="text-center mb-4">Inloggen</h1>
        </div>
        <div class="col-2 justify-content-center">
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}
                <!-- <div class="mb-3">
                    <label class="form-label" for="username">Gebruikersnaam:</label>
                    <input type="text" name="username">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Wachtwoord:</label>
                    <input type="password" name="password">
                </div> -->
                {{loginform|crispy}}
                <div class="form-group p-1">
                    <button type="submit" name="submit-button" class="btn btn-primary mb-5 mt-2">Inloggen</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}